*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3,h5{
    color: #161c2d !important;  
}
header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      );
    height: 10vh;   
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 30%;
    padding-left: 5%;
}
.logo > img {
    width: 70%;
}
.content{
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),
      url('http://landrick.react.themesbrand.com/static/media/enterprise.d2745d24.png');
    background-size: cover;
    width:100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.title{
    line-height: 26px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
}
.title > h1{
    font-size: 46px;   
    color: #fff ;
    font-weight: 700 !important;
}
.subtitle{
    margin-top: 3%;
    text-align: center;
    line-height: 26px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    max-width: 80%;
    color: #fff;
    
}
.subtitle > h4{
    font-size: 20px;   
}
.getstarted{
    margin-top: 4%;   
}
.getstarted > a{
    text-decoration: none;
    color: #fff;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    padding: 1%;
}
.overview{
    margin-top: 8%;
    width: 55%;
    text-align: center;
}
.overview > h1{
    color: #161c2d !important;  
}
.overview > p{
    color: #8492a6 !important;
}
.template_cards{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 32%;
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 26px;
    margin: 0.5%;
    border:none;
}
.card > img{
    margin-top: 5%;
    margin-bottom: 7%;
    width: 25%;
}
.card > p {
    color: #8492a6 !important;
}
.sombra{
    position: absolute;
    top:5%;
    margin-left: 15%;
    width: 70px;
    height: 70px;
    background: linear-gradient(45deg,transparent,rgba(47,85,212,.15));
    border-radius: 5px;
    transform: rotate(30deg);

}
@keyframes degraus360 {
    to{
        transform: rotate(330deg) ;

        transition-timing-function: ease-in-out;
    }
}
.card:hover .sombra{
    animation:degraus360 4s infinite ;    
}
.contact{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    line-height: 26px;
}
.contact > .legenda{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;

}
.contact > .legenda > p {
    color: #8492a6 !important;
}
.contact > .legenda > ul {
    list-style: none;
    color: #8492a6 !important;
}
.contact > .legenda > ul > li > svg{
    color: #47d099;
}
.contact > .legenda > a {
    text-decoration: none;
    color: #2f55d4 !important;
}
.contact > .formulario{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);  
    
}
.contact > .formulario > img{
    top:0;
}
.contact > .formulario > form{
    width: 100%;
    margin: 5% 0;
    padding: 1%;
}
.contact > .formulario > form > label{
    width: 100%;
}

.contact > .formulario > form > label > span{
    color: red;
}
.input_campo{
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid #dee2e6;
    width: 100%;
    border-radius: 5px;
    
}
.input_campo > span{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}
.input_campo > span > svg{
    color:#161c2d;
}
.input_campo > input{
    border: none;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    
}
.btn_contato{
    margin-top: 10%;
    width: 100%;
}
.carrossel{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    padding: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
    line-height: 26px;
    background-image: linear-gradient(
        rgba(60,72,88,.7),
        rgba(60,72,88,.7)
      ),
    url('http://landrick.react.themesbrand.com//static/media/3.efbfee28.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.container-fluid{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.carousel-control-prev, .carousel-control-next, .carousel-indicators{
    display: none;
}
.carrossel-perfil{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    line-height: 26px;
    padding: 2%;
}
.carrossel-perfil > p{
    font-family: "Nunito",sans-serif;
    line-height: 1.5;
    color:#fff;
    font-style: italic !important;
    font-weight: 400 !important;
}
.carrossel-perfil > h6{
    color: #f8f9fc !important;
    margin-top: .25rem !important;
    font-family: "Nunito",sans-serif;
    line-height: 1.5;
    font-weight: 600;
}

.carrossel-perfil > img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 0 0 5% 0%;
}
.news{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 10%;
    line-height: 26px;
}
.news > h4{
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: .5px;
    font-size: 30px;
}
.news > p{
    text-align: center;
    max-width: 600px;
    color: #8492a6 !important;
}
.content_news{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    line-height: 26px;
    padding: 1%;
}
.new-card{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 420px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);  
}
.new-card:hover .infor-card{
    display: flex;
    transition-duration: .5s;
}
.new-card:hover{
    transform: translateY(-15px);
    transition-duration: .5s;
}
.new-card > .img_card{
    position: relative;
    width: 100%;
    height: 290px;
    border-radius: 5px 5px 0 0 ;
    margin: 0 0 5% 0%;
}

.img_card > img{
    width: 100%;
    height: 290px;
    border-radius: 5px 5px 0 0 ;
}
.infor-card{
    position: absolute;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 290px;
    background-color: #3c4858;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: white;
    padding-top: 5%;
    padding-left: 5%;
    transition: all .5s ease;
    display: none;
    border-radius: 5px 5px 0 0 ;
}
.footer-card{
    color: #3e4e7c;
    padding: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-card > h3{
    font-size: 20px;
    margin-top: 1%;
}
.interacoes-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.interacoes-card > a{
    text-decoration: none;
    color: #3e4e7c !important;
    font-size: 14px;
}
.opcoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.opcoes > span{
    margin: 3px;
    font-size: 14px;
}
.contact-bottom{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 10%;
    line-height: 26px;
}
.contact-bottom > h4{
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: .5px;
    font-size: 30px;
}
.contact-bottom > p{
    text-align: center;
    max-width: 600px;
    color: #8492a6 !important;
}
.contact-bottom > form{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.btn_contato2{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 0 5px 5px 0px;
    border: none;
}
#email-bottom:focus{
    border: 0.5px solid #007bff;
    border-radius: 5px 0px 0px 5px;
}
.contact-bottom > form > .input_campo{
    width: 100%;
    border-radius: 5px 0px 0px 5px;
}
.footer-page{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #202942;
    padding: 3% 10%;
}
.footer-page > div{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #202942;
    padding: 2%;
}
.efeito{
    top:0;
    width:40%;
    color: #8492a6 !important;
    padding: 2%;
}

.efeito{
    margin-top: 0;
}
.efeito > .logo{
    width: 100%;
    margin: 5% 0 ;
    padding-left: 0;
}

.efeito > h4, .efeito > h4{
    color: #f8dfaa;
    font-size: 20px;
    margin-top: 5%;
}
.efeito > h4{
    color: #f8dfaa;
    font-size: 22px;
}
.efeito > .formulario > form{
    width: 100%;
}
.efeito > .formulario > form > label{
    width: 100%;
}
.efeito > .formulario > form > label > .input_campo{
    width: 100%;
}
.efeito > .formulario > form > label > .input_campo > input{
    width:80%;
    padding: 2% 3%;
}
.efeito > ul > li > a{
    text-decoration: none;
    color: #8492a6 !important;
}
.efeito > ul > li > a{
    text-decoration: none;
    color: #8492a6 !important;
}
.redessociais{
    padding: 2% 0;
    display: flex;
    flex-direction: row;

}
.redessociais > .rede{
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-color: transparent;
    padding:1%;
    margin: 1%;
    color: #8492a6 !important;
    border: 1px solid #8492a6 !important;
    text-align: center;
    transition: .5s all;
}
.redessociais > .rede:hover{
    background-color: #2f55d4;
    color: #fff!important;
    border: 1px solid #2f55d4 !important;
    cursor: pointer;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #8492a6 !important;
    justify-content: center;
    font-size: 15px;
}
ul > li {
    display: flex;
    align-items: center;
}
.developer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #202942;
    border-top: 1px solid  #8492a6 !important;
    padding: 2% 2%;
    color:#8492a6;
}
.developer > h6 > span{
    color: #2dba6d;
}
.btn_contato3{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 0 5px 5px 0px;
    border: none;
}
@media (min-width: 1200px){
    .logo > img {
        width: 40%;
    }
    .contact{
        margin-bottom: 2%;
    }
    
    .footer-page > div{
        flex-direction: row;
    }
    .efeito{
        width: 100%;
    }
    .efeito > .logo{
        width: 100%;
    }
    .efeito > .formulario{
        width: 100%;
    }
    .efeito > .formulario > form{
        width: 100%;
    }
    .efeito > .formulario > form > label{
        width: 100%;
    }
    .efeito > .formulario > form > label > .input_campo{
        width: 100%;
    }
    .efeito > .formulario > form > label > .input_campo > input{
        width:80%;
        padding: 1% 2%;
    }
    .btn_contato3{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        margin: auto;
        padding: 2%;
    }
}
@media (min-width: 778px){
.footer-page{
    padding: 2% 3%;
}
.footer-page > div{
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.efeito{
    width: 40%;
}
}
@media (max-width: 778px){
    .template_cards{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 95%;
    }
    section{
        width: 95%;
    }
    .card > img{
        width: 16%;
    }
    .sombra{
        top:10%;
        margin-left: 10%;
    }
    .overview{
        width: 80%;
    }
    .overview > h1{
        font-size: 25px;
    }
    .overview > p{
        margin-top: 5%;
        font-size: 15px;
    }
    .contact{
        flex-direction: column-reverse;
        align-items: center;
        width: 90%;
    }
    .contact >.legenda, .contact > .formulario{
        width: 90%;
        margin-top: 5%;
    }
    .contact >.legenda > h3{
        font-size: 24px;
        margin-bottom: 5%;
    }
    .carrossel{
        margin-top: -3%;
        height: 90vh;
    }
    .carrossel-perfil > p{
        font-size: 15px;
    }
    .contact > .formulario > form > label{
        font-size: 13px;
        font-weight: 500;
    }
    .content_news{
        flex-direction: column;
    }
    .new-card{
        width: 100%;
        height: 500px;
        margin-bottom: 3%;
    }   
    .new-card > .img_card{
        width: 100%;
        height: 382.5px;
        margin: 0 0 1% 0%;
    }
    .img_card > img{
        width: 100%;
        height: 100%;
    }
    .infor-card{
        width: 100%;
        height: 382.5px;
        font-size: 14px;
    }
    .content_news{
        flex-direction: column;
        align-items: center;
    }
    .footer-card{
        color: #3e4e7c;
        padding-left: 5%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-card > h3{
        font-size: 20px;
        margin-top: 1%;
    }
    .interacoes-card{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .interacoes-card > a{
        text-decoration: none;
        color: #3e4e7c !important;
        font-size: 14px;
    }
    .opcoes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .opcoes > span{
        margin: 3px;
        font-size: 14px;
    }

    .contact-bottom > form{
        width:90%;
    }
    .btn_contato2{
        width: 50%;
        font-size: 12px;
    }
    .footer-page{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        line-height: 26px;
        background-color: #202942;
        padding: 2% 5%;
    }
    .footer-page > div{
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    .efeito{
        width: 35%;
    }
    .efeito > .logo{
        width: 100%;
    }
    .efeito > .formulario{
        width: 140%;
    }
    .efeito > .formulario > form{
        width: 100%;
    }
    .efeito > .formulario > form > label{
        width: 100%;
    }
    .efeito > .formulario > form > label > .input_campo{
        width: 100%;
    }
    .efeito > .formulario > form > label > .input_campo > input{
        width:80%;
        padding: 1% 2%;
    }
    .btn_contato3{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        border-radius: 5px;
        border: none;
    }
}
@media (max-width: 660px){
    .new-card{
        width: 100%;
        height: 100vh;
        margin-bottom: 3%;
    }   
    .new-card > .img_card{
        width: 100%;
        height: 390px;
        margin: 0 0 1% 0%;
    }
    .img_card > img{
        width: 100%;
        height: 100%;
    }
    .infor-card{
        width: 100%;
        height: 100%;
        font-size: 14px;
    }
    .footer-page > div{
        flex-direction: column;
    }
    .efeito{
        width: 100%;
    }
    .efeito > .logo{
        width: 35%;
    }
    .efeito > .formulario{
        width: 100%;
    }
    .efeito > .formulario > form{
        width: 100%;
    }
    .efeito > .formulario > form > label{
        width: 100%;
    }
    .efeito > .formulario > form > label > .input_campo{
        width: 100%;
    }
    .efeito > .formulario > form > label > .input_campo > input{
        width:100%;
        padding: 1% 2%;
    }
    .btn_contato3{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        margin: auto;
    }
}

@media (max-width: 450px){
    .contact{
        flex-direction: column-reverse;
        width: 90%;
        padding: 2%;
    }
    .contact >.legenda, .contact > .formulario{
        width: 100%;
    }
    .new-card{
        width: 100%;
        height: 85vh;
        margin-bottom: 5%;
    }   
    .infor-card{
        padding-bottom: 1%;
    }
    .sombra{
        position: absolute;
        top:0%;
        margin-left: 10%;
        width: 70px;
        height: 70px;
        background: linear-gradient(45deg,transparent,rgba(47,85,212,.15));
        border-radius: 5px;
        transform: rotate(30deg);
    
    }
    .title > h1{
        text-align: center;
    }

    .logo{
        width: 50%;
        padding-left: 5%;
    }
    .logo > img {
        width: 70%;
    }
    .contact > .legenda > h3{
        font-size: 20px;
        
    }
    .contact-bottom > form{
        width:90%;
    }
    .btn_contato2{
        width: 50%;
        font-size: 12px;
    }
    .footer-page > div{
        flex-direction: column;
    }
    .efeito{
        width: 100%;
    }
    .efeito > .logo{
        width: 35%;
    }
    .efeito > .formulario{
        width: 100%;
    }
    .efeito > .formulario > form{
        width: 100%;
    }
    .efeito > .formulario > form > label{
        width: 100%;
    }
    .efeito > .formulario > form > label > .input_campo{
        width: 100%;
    }
    .efeito > .formulario > form > label > .input_campo > input{
        width:100%;
        padding: 1% 2%;
    }
    .btn_contato3{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        margin: auto;
    }
}
